h1 {
  text-align: center;
  background-color: #0086ff;
  color: #fff;

  padding: 20px;
}

.container {
  background-color: #2d82cc;
  margin-top: 30px;
  border-radius: 40px;
  padding: 30px;
}

#button-addon2 {
  color: #fff;
}

.done-button {
  color: red;
  font-weight: bold;
  cursor: crosshair;
}

.done {
  text-decoration: line-through;
}

td {
  cursor: pointer;
}
