<h1>Lista de tarefas Bemol! por: Theo Trindade</h1>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Nome da tarefa"
          aria-describedby="button-addon2"
          [(ngModel)]="description"
          placeholder="Nome da tarefa"
        />

        <button
          class="btn btn-outline-secondary btn-primary"
          type="button"
          id="button-addon2"
          (click)="addNewTask()"
        > Adcionar Tarefa</button>
      </div>
      <br />

      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let task of tasks$ | async">
            <th scope="row">{{ task.id }}</th>

            <td class="" [ngClass]="{ done: task.completed }" (click)="markTaskDone(task.id!)" >
              {{ task.description }}
            </td>

            <td class="done-button" (click)="deleteTask(task.id!)">X</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
