<h1>Lista de tarefas Bemol! por: Theo Trindade</h1>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nome da tarefa"
          aria-label="Nome da tarefa"
          aria-describedby="button-addon2"
          [(ngModel)]="newTodo"
        />
        <button
          class="btn btn-outline-secondary btn-primary"
          type="button"
          id="button-addon2"
          (click)="saveTodo()"
        >Adcionar Tarefa</button>
      </div>
      <br>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let todo of todos;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td
            [ngClass]="{'done': todo.completed}"
            (click)="done(i)"
            >{{todo.name}}</td>
            <td
            class="done-button"
            (click)="remove(i)"
            >X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
